<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Início</title>

        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Library System Remake Beta</h4>
                    <a
                        href="/add"
                        class="btn-small waves-effect waves-light blue"
                        >Adicionar Registro</a
                    >
                    <div class="table" style="overflow-x: auto">
                        <table
                            class="striped centered"
                            style="margin-top: 1.5rem"
                        >
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Livro</th>
                                    <th>Curso</th>
                                    <th>Empréstimo</th>
                                    <th>Devolução</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for loan in loans %}
                                <tr>
                                    <td>{{ loan.name }}</td>
                                    <td>{{ loan.book }}</td>
                                    <td>{{ loan.curse }}</td>
                                    <td>{{ loan.loan|format_date }}</td>
                                    <td>{{ loan.devolution|format_date }}</td>
                                    <td>
                                        <a
                                            href="{{ url_for('delete_loan', id=loan.id) }}"
                                            >Excluir</a
                                        >
                                    </td>
                                    <td>
                                        <a
                                            href="{{ url_for('edit', id=loan.id) }}"
                                            >Editar</a
                                        >
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function format_date(dateString) {
                var dateParts = dateString.split("-");
                var formattedDate =
                    dateParts[2] + "/" + dateParts[1] + "/" + dateParts[0];
                return formattedDate;
            }
        </script>
    </body>
</html>
